p{
    padding: 0p;
  }
  
 
  
  .card{
    display: inline-block;
    margin: 1em;
    background-color: #244769;
    
    width: 350px;
  
    
 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
     
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,

  
  }
    
  }
  
  
  .title{
    margin-top: -19px;
  }
  
  .lblTitle{
    border-radius: 0%;
    background-color: #081822;
    color: rgb(243, 234, 234);
    border-bottom: rgb(233, 233, 233) 3px ridge;
  }
  
  .txtTitle{
    color: rgb(250, 250, 250);
    padding-left: 5px;
    padding-right: 5px;
    text-align: justify;
    border-bottom: rgb(233, 233, 233) 3px ridge;
    text-align: justify;
    margin-left: 5px;
  margin-right: 5px;

  height: 60px;
}

.img{
  border-bottom: #b5d1f1;
  padding-top: 5px;
}

.imgs{

  width: 200px;
}

.ids{
  height: auto;
}

  .lblIds{
      display:inline-flex;
      background-color:#b5d1f1;
      height: 50%;
  }

  .lblAlbumId{
      color: rgb(0, 0, 0);
      width: 175px;
      background-color:#b5d1f1;
  }

  .lblId{
    background-color:#b5d1f1;
      color: rgb(0, 0, 0);
      width: 175px;
  }

  .txtIds{
      display:inline-flex;
      height: 48%;
      color: rgb(0, 0, 0);
  }

  .txtAlbumId{
    color:rgb(0, 0, 0);
      width: 175px;
      background-color: #c1cc9c;
      
  }

  .txtId{
      width: 175px;
      color: rgb(7, 7, 7);
      background-color: #c1cc9c;
  }





      .modalDialog {
          position: fixed;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background: rgba(0,0,0,0.8);
          z-index: 99999;
          opacity:0;
          -webkit-transition: opacity 400ms ease-in;
          -moz-transition: opacity 400ms ease-in;
          transition: opacity 400ms ease-in;
          pointer-events: none;
      }
      .modalDialog:target {
          opacity:1;
          pointer-events: auto;
      }
      .modalDialog > div {
          width: 400px;
          position: relative;
          margin: 10% auto;
          padding: 5px 20px 13px 20px;
          border-radius: 10px;
          background: #fff;
          background: -moz-linear-gradient(#fff, #999);
          background: -webkit-linear-gradient(#fff, #999);
          background: -o-linear-gradient(#fff, #999);
        -webkit-transition: opacity 400ms ease-in;
      -moz-transition: opacity 400ms ease-in;
      transition: opacity 400ms ease-in;
      }
      .close {
          background: #606061;
          color: #FFFFFF;
          line-height: 25px;
          position: absolute;
          right: -12px;
          text-align: center;
          top: -10px;
          width: 24px;
          text-decoration: none;
          font-weight: bold;
          -webkit-border-radius: 12px;
          -moz-border-radius: 12px;
          border-radius: 12px;
          -moz-box-shadow: 1px 1px 3px #000;
          -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
      }
      .close:hover { background: red; }


#btnResultado{
  width: 100px;
  height: 25px;
  border-radius: 10px;
  animation: pulsate 1.5s infinite alternate;  
  border: 1px solid #fff;
 
            background-color: #757575

}

#btnResultado:hover{
  background-color: #ffffff;
  transition-duration: 0.4s;
  
}


#encabezado{
    background-color: rgb(107, 106, 106);
    border-radius: 20px;    
    width: 90%;
}   

#contenido{
    background-color: #1b0025; 
    width: 90%;
    height: 1000px; 
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

    animation: pulsate 1.5s infinite alternate;  
    border: 1px solid #fff;
    
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #e6e4e4a4,
        0 0 80px #dbdcdfa4,
        0 0 90px #f7f7f7a4,
        0 0 100px #dddddda4,
        0 0 150px #eeeeeea4;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #f8f9faa4,
      0 0 45px #d3d3d3a4,
      0 0 55px #b6b6b6a4,
      0 0 70px #d6d6d6a4,
      0 0 80px #cccdcfa4;
  
  }
}



    
   
   
  h1 {
    width: 90%;
    animation: pulsate 1.5s infinite alternate;  
    border: 1px solid #fff;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: 0 0 .2rem #fff,
              0 0 2rem #eaebf3,
              0 0 0.8rem #e0e2e4a4,
              0 0 2.8rem #fbfcfda4,
              inset 0 0 1.3rem #fafafaa4; 
  }
  
  @keyframes pulsate {
      
    100% {
  
        text-shadow:
        0 0 4px #fff,
        0 0 11px #fff,
        0 0 19px #fff,
        0 0 40px #d4d4d4a4,
        0 0 80px #f8f8f8a4,
        0 0 90px #fdfdfda4,
        0 0 100px #ecedf0a4,
        0 0 150px #d4d5d8a4;
    
    }
    
    0% {
  
      text-shadow:
      0 0 2px #fff,
      0 0 4px #fff,
      0 0 6px #fff,
      0 0 10px #dddddda4,
      0 0 45px #d4d5d8a4,
      0 0 55px #eceff3a4,
      0 0 70px #eef0f3a4,
      0 0 80px #f0f1f5a4;
  
  }}
